

<p (click)="selectStudent(StudentList[0])"> {{StudentList[0].name}}</p>
<p>{{StudentList[1].name}}</p>
<p>{{StudentList[2].name}}</p>
<p>{{StudentList[3].name}}</p>
<p>{{StudentList[4].name}}</p>
<p>{{StudentList[5].name}}</p>
<p>{{StudentList[6].name}}</p>

<input type="number" (click)="selectId($event)"/>
<input 
    #boxInput
    (keyup)="selectOneStudent(boxInput.value)"
    type="number"    
/>

<p *ngFor="let student of StudentList">
    {{ student.name }}
</p>

<div *ngIf="studentSelected"> {{studentSelected.name}} </div> 
<div *ngIf="!studentSelected">L'étudiant n'existe pas</div>

<h1 class="center"> Liste des étudiants</h1>

<p appHighlight></p>
<div class="container">
    <div class="row">
        <div *ngFor="let student of StudentList" class="col m4 s6">
            <div studentBorderCard class="card horizontal" >
                
                <div class="card-image">
                    <img [src]="student.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                      <p>{{student.name}}</p>
                      <p><span>{{student.joinDate}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

